@import "bootstrap.less";

body { 
   padding-top: 50px;
}

.starter-template {
  padding: 40px;     
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.page-section {
  width: 100%;
  min-height: 800px;
  padding: 50px 0;
  border-bottom: 10px solid #fff;
}
.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}
.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}
.page-section p.lead {
  font-size: 1.8em;
}
.page-section p.caption {
  color: #fff;
  padding: 20px;
  background: url(images/trans_black_25.png);
  text-shadow: 1px 1px 1px #000;
}
.page-section#africa {
  background: url(../images/africa.jpg) bottom center no-repeat;
}
.page-section#antarctica {
  background: url(../images/antarctica.jpg) bottom center no-repeat;
}
.page-section#asia {
  background: url(../images/asia.jpg) top center no-repeat;
}
.page-section#australia {
  background: url(../images/australia.jpg) top center no-repeat;
}
.page-section#europe {
  background: url(../images/europe.jpg) top center no-repeat;
}
.page-section#north-america {
  background: url(../images/north-america.jpg) top center no-repeat;
}
.page-section#south-america {
  background: url(../images/south-america.jpg) top center no-repeat;
}

@media (min-width: @screen-sm-min) {
  .page-section h1 {
    color: #000000;
  }
}

@media (min-width: @screen-md-min) { 
  .page-section h1 {
    color: #FFFFFF;
  }
}

@media (min-width: @screen-lg-min) {
  .page-section h1 {
    color: #FF0000;
  }   
}
